body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.block {
    box-sizing: border-box;
    border: 1px solid black;
}

.red {
    background-color: red;
    width: 50%;
    height: 50%;
}

.blue {
    background-color: blue;
    width: 25%;
    height: 50%;
}

.yellow {
    background-color: yellow;
    width: 25%;
    height: 50%;
}