body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
    color: #333;
}

.recipe {
    max-width: 600px;
    margin: 0 auto 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.recipe h1 {
    text-align: center;
    color: #555;
    margin-bottom: 10px;
}

.recipe h2 {
    color: #555;
    margin-bottom: 10px;
}

.recipe ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 20px;
}

.recipe ul li {
    padding-left: 20px;
    margin-bottom: 5px;
}

.recipe ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
    margin-bottom: 20px;
}

.recipe ol li {
    padding-left: 20px;
    margin-bottom: 5px;
}

.recipe p {
    line-height: 1.5;
}
